/* 💡 Ajustar el tamaño del calendario */
#calendar {
  width: 90%;
  max-width: 1200px;
  height: 70vh;
  background: transparent;
  border: none;
  margin: auto;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

/* 💡 Contenedor del calendario */
.section-container {
  display: flex;
  flex-direction: column;
  align-items: stretch; /* ✅ Esto permitirá que el contenido se alinee por sí solo */
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.flex-row-between {
  display: flex;
  width: 95%;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center; /* centrado */
  align-items: center;
  gap: 30px; /* más separación entre campos */
  margin-top: 10px;
  margin-bottom: 10px;
}

#calendar {
  /* background: white;
  border-radius: 10px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25); */
  margin-bottom: 30px;
}

#calendar h2 {
  font-size: 18px;
  color: gray;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto 20px auto;
  box-sizing: border-box;
  padding: 0 10px;
}

.calendar-header-left h2 {
  margin: 0;
}

.modal-calendar label {
  font-size: 15px;
  font-weight: bold;
  color: var(--texto);
}

select {
  margin-top: 5px;
}

/* 📌 Fondo oscurecido cuando el modal-calendar está activo */
.modal-calendar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: none;
}

/* 📌 Estilos del modal-calendar */
.modal-calendar {
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  width: 90%;
  max-width: 450px;
  background-color: var(--card-bg);
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
  z-index: 1001;
  display: none;
}

.input-group {
  display: flex;
  flex-direction: column;
}

/* 📌 Mostrar modal-calendar */
.modal-calendar.show,
.modal-calendar-overlay.show {
  display: block;
  opacity: 1;
  /* transform: translate(-50%, -50%) scale(1); */
}

/* 📌 Botón cerrar */
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}

.access-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 10px;
}

.access-form label {
  font-weight: bold;
}

.access-form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.access-form input:focus {
  outline: none;
  border: 1px solid var(--marron-oscuro);
}

.select-keys {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.select-keys:focus {
  outline: none;
  border: 1px solid var(--marron-oscuro);
}

.add-icon {
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background: var(--marron-claro);
  color: white;
  width: 30px;
  height: 30px;
  font-size: large;
}

.btn .material-icons {
  font-size: 20px;
  color: var(--botontexto);
}

#huespedes-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 5px 0 0 0;
  border: 1px solid var(--marron-claro);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
}

#edit-huespedes-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 5px 0 0 0;
  border: 1px solid var(--marron-claro);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
}

.huesped-checkbox label {
  display: flex;
  align-items: center;
  background: var(--card-bg-2);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.huesped-checkbox input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  border: 2px solid var(--marron-oscuro);
  border-radius: 6px;
  position: relative;
  transition: all 0.3s ease;
}

.huesped-checkbox input[type="checkbox"]:checked {
  background: var(--marron-oscuro);
  border-color: var(--marron-oscuro);
}

.huesped-checkbox input[type="checkbox"]:checked::after {
  content: "✔";
  color: white;
  font-size: 14px;
  position: absolute;
  top: 2px;
  left: 5px;
}

.huesped-checkbox label:hover {
  background: #f3f3f3;
}

/* Estilo del botón de cerrar */
button[onclick="closeEventModal()"] {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: #aaa;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

button[onclick="closeEventModal()"]:hover {
  color: #333;
}

#editEventBtn {
  background-color: var(--marron-oscuro);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#deleteEventBtn {
  background-color: #c57a7ac2;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilo por defecto cuando el formulario está oculto */
#editForm {
  display: none;
}

/* Estilo cuando el formulario está visible */
#editForm.show {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Estilo por defecto cuando el formulario está oculto */
#newCasaInputs {
  display: none;
}

/* Estilo cuando el formulario está visible */
#newCasaInputs.show {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#huespedes {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  transition: border-color 0.3s;
}

.close {
  background-color: transparent;
  border: none;
}

#addEvent {
  margin-top: 0px;
  margin-bottom: 10px;
}

.botones-cerradura {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.btn-cancelar-cerradura,
.btn-confirmar-cerradura {
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  min-width: 120px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* Botón Cancelar */
.btn-cancelar-cerradura {
  background: linear-gradient(135deg, #d3d3d3, #a9a9a9);
  color: #555;
}

.btn-cancelar-cerradura:hover {
  background: linear-gradient(135deg, #a9a9a9, #808080);
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Botón Confirmar */
.btn-confirmar-cerradura {
  background: linear-gradient(135deg, darkseagreen, seagreen);
  color: white;
}

.btn-confirmar-cerradura:hover {
  background: linear-gradient(135deg, seagreen, darkgreen);
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.añadir-casa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--marron-claro);
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  background-color: var(--card-bg);
  gap: 15px;
}

.añadir-casa input {
  width: 60%;
}

/* 📌 Botones */
.modal-calendar-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 10px;
}

.btn-cancel-calendar,
.btn-confirm-calendar {
  flex: 1;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  min-width: 120px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
/* Botón Cancelar MODAL */
.btn-cancel-calendar {
  background: linear-gradient(135deg, #d3d3d3, #a9a9a9);
  color: #555;
}

.btn-cancel-calendar:hover {
  background: linear-gradient(135deg, #a9a9a9, #808080);
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Botón Confirmar MODAL */
.btn-confirm-calendar {
  background: linear-gradient(135deg, darkseagreen, seagreen);
  color: white;
}

.btn-confirm-calendar:hover {
  background: linear-gradient(135deg, seagreen, darkgreen);
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.btn-delete-calendar,
.btn-edit-calendar {
  flex: 1;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  min-width: 120px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
/* Botón Cancelar MODAL */
.btn-delete-calendar {
  background: linear-gradient(135deg, #cd8c8c, #a83636);
  color: #555;
}

.btn-delete-calendar:hover {
  background: linear-gradient(135deg, #a83636, #a83636);
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Botón Confirmar MODAL */
.btn-edit-calendar {
  background: linear-gradient(135deg, #a7a76f, #7f7d3e);
  color: white;
}

.btn-edit-calendar:hover {
  background: linear-gradient(135deg, #7f7d3e, #7f7d3e);
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.btn-edit-calendar .material-icons {
  color: var(--botontexto);
}

.btn-delete-calendar .material-icons {
  color: var(--botontexto);
}
