.dashboard-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

.stats-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.stat-card {
  background: linear-gradient(
    135deg,
    var(--marron-oscuro),
    var(--marron-claro)
  );
  color: var(--botontexto);
  padding: 20px;
  border-radius: 12px;
  width: 200px;
  text-align: center;
  box-shadow: 0px 8px 16px var(--shadow-medium);
}

/* Contenedor principal */
.main-container {
  display: flex;
  flex-direction: row; /* IMPORTANTE: columna horizontal */
  gap: 20px;
  transition: transform 0.3s ease;
  width: 100%; 
  align-items: flex-start;
}

.access-cards {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

/* Tarjetas de reservas */
.access-card {
  background: var(--card-bg);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 8px 16px var(--shadow-light);
  transition: transform 0.3s, border-left 0.3s;
  cursor: pointer;
  border-left: 5px solid transparent;
  color: var(--texto);
}

.access-card:hover {
  transform: translateY(-5px);
  border-left: 5px solid var(--marron-claro);
}

.access-card.selected {
  border-left: 5px solid var(--marron-oscuro);
}

.access-title {
  color: var(--marron-oscuro);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.access-details {
  flex: 1;
  background: var(--card-bg-2);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 8px 16px var(--shadow-light);
  overflow-y: auto;
  max-height: 600px; /* para que no se extienda infinito */
  border-left: 5px solid var(--marron-claro);
  color: var(--texto);
}

.access-details h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  color: var(--marron-claro);
}

#accessDetails {
  display: none;
}

#accessList {
  list-style: none;
  padding: 0;
}

#accessList li {
  background: var(--card-bg);
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px var(--shadow-light);
  display: flex;
  flex-direction: column;
  color: var(--texto);
}

#accessList li span {
  font-size: 14px;
  color: var(--texto-secundario);
}

#accessList li strong {
  font-size: 16px;
  color: var(--marron-oscuro);
}

/* Buscador */
.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-bar input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--borde);
  background-color: var(--input-bg);
  color: var(--input-text);
}

.close-btn {
  float: right;
  font-size: 24px;
  cursor: pointer;
}

 /* Responsive */
@media screen and (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .access-details {
    max-height: none;
  }
}