/* Formularios */
.form {
  display: none;
  max-width: 500px;
  margin: 50px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.form h2 {
  margin-bottom: 10px;
}

.form p {
  color: #666;
  margin-bottom: 20px;
}

.form form {
  display: flex;
  flex-direction: column;
}

.form label {
  text-align: left;
  font-weight: 600;
  margin-top: 10px;
}

.form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

.form .btn-primary {
  background-color: var(--marron-claro);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  cursor: pointer;
  transition: background 0.3s;
}

.form .btn-primary:hover {
  background-color: var(--marron-oscuro);
}

.form a {
  color: var(--marron-claro);
  text-decoration: none;
  font-weight: 600;
}

.form a:hover {
  text-decoration: underline;
}

/* Estilos de las opciones */
.options-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 30px;
  padding-top: 50px;
}

.option-box {
  width: 300px;
  padding: 20px;
  background-color: #f5f5f5;
  text-align: center;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.option-box h3 {
  margin-bottom: 10px;
  color: #333;
}

.option-box p {
  font-size: 14px;
  color: #666;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #8b6b50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
}

.btn:hover {
  background-color: #a6866a;
}
