<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{layout :: head}"></head>
  <body th:class="${session.theme}">
    <!-- Menú lateral -->

    <div id="main">
      <!-- Barra de navegación -->
      <div th:replace="~{layout :: nav}"></div>

      <!-- Contenido principal -->
      <main class="contentview" th:replace="~{layout :: content}">
        <section class="section-container" th:fragment="section">
          <header class="hero">
            <div class="hero-content">
              <h2>Contáctanos</h2>
              <p>¿Tienes dudas? Envíanos un mensaje y te responderemos.</p>
            </div>
          </header>

          <section class="contact-form">
            <h3>📩 Envíanos un Mensaje</h3>
            <form th:action="@{/contact}" method="POST">
              <label for="topic">Asunto</label>
              <input type="text" id="topic" name="topic" required />

              <label for="mensaje">Mensaje</label>
              <textarea
                id="mensaje"
                name="mensaje"
                rows="4"
                required
              ></textarea>

              <button type="submit" class="btn-primary">Enviar</button>
            </form>
            
          </section>
        </section>

        <!-- Footer -->
        <div th:replace="~{layout :: footer}"></div>
      </main>
    </div>
    <!-- Inclusión de los scripts del layout -->
    <script th:replace="~{layout :: scripts}"></script>
  </body>
</html>
