<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IoH - Internet de las Casas</title>
    <link rel="icon" th:href="@{/images/logo_IoH.ico}" />
    <link rel="stylesheet" th:href="@{/layout.css}" />
    <link rel="stylesheet" th:href="@{/style.css}" />
    <link rel="stylesheet" th:href="@{/styles.css}" />
    <link href="/dist/styles.css" rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>
  </head>
  <body>
    <div id="main" th:fragment="main">
      <nav class="navbar" th:fragment="nav">
        <div class="nav-left">
          <span class="material-icons menu-icon" onclick="openNav()">menu</span>
          <img
            th:src="@{/images/logo_IoH_white.png}"
            alt="IoH Logo"
            class="logo"
          />
          <div class="nav-title">
            <h1><a th:href="@{/}">Internet de las Casas</a></h1>
          </div>
        </div>
        <div class="nav-right">
          <div class="user-menu" th:if="${session.isLoggedIn}" tabindex="0">
            <button id="userBtn" class="user-btn">
              <span th:text="${session.usuario}"></span
              ><span
                style="padding-left: 10px; color: var(--marron-claro)"
                class="material-icons"
                >keyboard_arrow_down</span
              >
            </button>
            <ul class="dropdown">
              <li><a th:href="@{/profile}">Mi Perfil</a></li>
              <li><a th:href="@{/settings}">Ajustes</a></li>
              <li><a th:href="@{/logout}">Cerrar Sesión</a></li>
            </ul>
          </div>

          <div class="auth-buttons" th:unless="${session.isLoggedIn}">
            <a th:href="@{/login}" class="btn-login">Iniciar Sesión</a>
            <a th:href="@{/signup}" class="btn-register">Crear Cuenta</a>
          </div>
        </div>
      </nav>

      <main th:fragment="content" class="maincontent">
        <div id="mySidenav" class="sidebar" th:fragment="sidenav">
          <ul>
            <li class="nav-item">
              <span class="material-icons">home</span>
              <a th:href="@{/}">Inicio</a>
            </li>
            <li th:if="${session.isLoggedIn}" class="nav-item">
              <span class="material-icons">calendar_month</span>
              <a th:href="@{/calendar}">Gestionar Acessos</a>
            </li>
            <li class="expand"></li>
            <li class="nav-item">
              <span class="material-icons">account_circle</span>
              <a th:href="@{/profile}">Perfil</a>
            </li>
            <li class="setting-item">
              <span class="material-icons">settings</span>
              <a th:href="@{/settings}">Ajustes</a>
            </li>
            <li class="setting-item">
              <span class="material-icons">drafts</span>
              <a th:href="@{/contact}">Contacto</a>
            </li>
            <hr class="separator" />
            <li class="logout-item">
              <span class="material-icons">logout</span>
              <a th:href="@{/logout}">Cerrar sesión</a>
            </li>
          </ul>
        </div>
        <div id="maincontent" th:insert="~{::section}"></div>
      </main>

      <footer class="footer" th:fragment="footer">
        <p>&copy; 2025 Internet de las Casas. Todos los derechos reservados.</p>
      </footer>
    </div>

    <script th:fragment="scripts">
      function openNav() {
        if (document.getElementById("mySidenav").style.width == "250px") {
          closeNav();
        } else {
          document.getElementById("mySidenav").style.width = "250px";
          document.getElementById("maincontent").style.marginLeft = "0";
        }
      }
      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("maincontent").style.marginLeft = "0";
      }
    </script>

    <!-- Fragmento "layout" que envuelve toda la estructura -->
    <div th:fragment="layout(content)">
      <div th:replace="~{head}"></div>

      <div id="main">
        <div th:replace="~{nav}"></div>
        <main>
          <div th:replace="~{sidenav}"></div>
          <div id="maincontent" th:insert="${content}"></div>
        </main>
        <div th:replace="~{footer}"></div>
      </div>
      <div th:replace="~{scripts}"></div>
    </div>
  </body>
</html>
